body {
    font-family: Arial, sans-serif;
    text-align: left;
}

#influx-response {
    text-align: left;
}

h1 {
    color: #333;
    font-size: 2em;
    margin: 0.5em 0;
}

menu {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
  }
  
  li {
    flex-grow: 1;
  }