<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Qr Code</title>
</head>
<body>
<% if(home != null){ %>
    <div id="home-name" class="box"><%= home %></div>
<% } %>
<div id="data" class="tab">
    <% for (let type of data){ %>
        <div class="box">
            <h4><%= type.title %></h4>
            <% for (let d of type.data){ %>
                <h3><%= d %></h3>
            <% } %>
        </div>
    <% } %>
</div>
</body>
</html>