body {
    font-family: Arial, sans-serif;
    text-align: left;
}

#influx-response {
    text-align: left;
}

h1 {
    color: #333;
    font-size: 2em;
    margin: 0.5em 0;
}

menu {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
}

li {
    flex-grow: 1;
}

.box {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-row-gap: 10em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    color: black;
}

