body {
    font-family: Helvetica, sans-serif;
}

/* Contenu d'un onglet */

.tab {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.menu > input[type=radio] {
    display: none;
}

.menu > div {
    display: inline;
    position: absolute;
    right: 0;
    transform: translate(0, 50%) translate(0, -4px);
}

.simple-button,
.menu button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.main {
    border-top: 1px solid #cccccc;
}

.label-page {
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    background-color: #efefef;
    margin-left: -4px;
    transition: all .5s, padding 0s, margin 0s, border 0s;
}

input:checked + .label-page {
    padding-top: 20px;
    border-color: #cccccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    color: #0066cc;
    background-color: #ffffff;
}

.label-page:after {
    content: "";
    position: relative;
    display: block;
    top: 10px;
    width: 50%;
    height: 4px;
    background: #8d8d8d;
    transition: all .5s, padding 0s, margin 0s, border 0s;
}

input:hover + .label-page {
    color: #0066cc;
}

.select-page:hover + .label-page:after,
.select-page:checked + .label-page:after {
    background: #0066cc;
    width: 100%;
}


/* Conteneur où sont affichés les QRCodes et les labels */

.box {
    position: relative;
    top: 0;   display: flex;
    flex: 1 1 0;
    flex-direction: column;
    max-width: max-content;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 2px 6px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
}

.box:hover {
    top: -3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
}

.box h3 {
    white-space: nowrap;
    text-align: center;
    min-width: 200px;
}

.box img {
    width: 200px;
    align-self: center;
}

.box.selected {
    background-color: #89e989;
}

/* Bouton pour afficher ou non un type de données */
.config-data-type input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Texte affiché dans le bouton pour afficher ou non un type de données */
.config-data-type label {
    display: inline-block;
    width: 100%;
    margin: 3px 0;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s;
}

.config-data-type:hover label {
    box-shadow: rgba(0, 0, 0, 0.35) 0 3px 8px;
}

.config-data-type label::before {
    display: inline-block;
    margin: 2px 6px 2px 2px;
    font-weight: 900;
    font-size: 12px;
    content: "+";
    transition: transform .3s ease-in-out;
}

.config-data-type input[type="checkbox"]:checked + label {
    border: 2px solid #915cff;
    background-color: #915cff;
    color: #fff;
    transition: all .2s;
}

.config-data-type input[type="checkbox"]:checked + label::before {
    content: "\2713";
    transform: scale(1.5) rotate(360deg);
    transition: transform .3s ease-in-out;
}

/* Lien vers le capteur */
.link-sensor {
    align-self: center;
}

/* Champ d'édition des labels */
.edit-text {
    position: relative;
    padding: 15px 0 0;
}

.edit-text > input,
.edit-text > textarea {
    padding: 7px 0 7px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    outline: 0;
    border: 0;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.3rem;
}

.edit-text > input:focus,
.edit-text > textarea:focus {
    padding-bottom: 6px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #7f41ff, #c5abff) 1;
    margin-bottom: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.edit-text > input::placeholder,
.edit-text > textarea::placeholder {
    color: transparent;
}

.edit-text.for-type > textarea {
    min-width: 200px;
    min-height: 100px;
}

.edit-text > input:focus.modified,
.edit-text > textarea:focus.modified {
    border-image: linear-gradient(to right, #ff0000, #ffabab) 1;
}

.edit-text > input:focus.validated,
.edit-text > textarea:focus.validated {
    border-image: linear-gradient(to right, #05cb00, #b3ffab) 1;
}

.edit-text > input:focus ~ .change-label-label,
.edit-text > textarea:focus ~ .change-label-label {
    top: 0;
    font-size: 1rem;
    margin-left: 0;
    color: #915cff;
    font-weight: 700;
}

.edit-text > label {
    position: absolute;
    top: 0;
    display: block;
    font-size: 1rem;
    color: #9b9b9b;
}

.edit-text > input:placeholder-shown ~ label,
.edit-text > textarea:placeholder-shown ~ label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    margin-left: 10px;
    transition-property: top, margin-left, color, font;
    transition-duration: 0.2s;
}

.edit-text > input:required,
.edit-text > input:invalid,
.edit-text > textarea:required,
.edit-text > textarea:invalid {
    box-shadow: none;
}

/* Bouton avec flèche */

.button-slider {
    position: relative;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    background-color: #efefef;
    padding: 0;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 100px;
}

.button-slider .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: block;
    width: 3em;
    height: 3em;
    background-color: #282936;
    border-radius: 100px;
}

.generate-qrcode .circle {
    background-color: #1e9300;
}

.revoke-qrcode .circle {
    background-color: #b50000;
}

.print-qrcodes {
    width: 200px;
    margin: 5px;
}

.print-qrcodes .circle {
    background-color: #00759f;
}

.button-slider span.circle:before {
    position: relative;
    content: "";
    display: block;
    top: 1.5em;
    left: 1.5em;
    width: 0.75em;
    height: 0.75em;
    border-top: 0.200em solid #fff;
    border-right: 0.200em solid #fff;
    transform: translate(-75%, -50%) rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.button-slider:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(0.5em, 0);
}

.button-slider span.circle:after {
    position: absolute;
    content: "";
    display: block;
    top: 1.5em;
    left: 1.2em;
    width: 1.2em;
    height: 0.125em;
    transform: translate(0%, -50%);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.button-slider .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-slider.hover span.circle:before,
.button-slider:hover span.circle:before {
    transform: translate(0.5em, -50%) rotate(45deg);
}

.button-slider.hover span.circle:after,
.button-slider:hover span.circle:after {
    background-color: white;
    transform: translate(0.5em, -50%);
}

.button-slider.hover .circle,
.button-slider:hover .circle {
    width: 100%;
}

.button-slider.hover .button-text,
.button-slider:hover .button-text {
    color: #fff;
}

/* Paramètres */

h2 {
    white-space: nowrap;
}

#edit-password-form {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
}

#message {
    color: #ff0000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

#message.valid {
    color: #05cb00;
}

/* Fenêtre de confirmation */

.confirm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.confirm > div {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    border-top: 20px solid #d85261;
}

.confirm h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 0;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
}

.confirm span {
    text-align: center;
    margin-bottom: 35px;
    align-self: center;
    box-sizing: border-box;
}

.confirm button {
    padding-right: 20px;
    padding-left: 20px;
    height: 35px;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.confirm-button {
    background: #779ecb;
}

.cancel-button {
    background: #d85261;
    margin-right: 10px;
}

.neutral-button {
    background-color: #915cff;
}

.print {
    display: none;
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

@media print {
    .menu, .main {
        display: none !important;
    }

    .print {
        display: block !important;
    }

    .page {
        display: grid;
    }

    .qrcode-img-container {
        display: flex;
        flex-direction: column;
    }

    .qr-code-svg {
        width: 300px;
        align-self: center;
    }

    .page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        page-break-after: always;
    }

    .qrcode-img-container > p {
        align-self: center;
        margin: 0;
        font-size: 2vh;
    }

    .img-0 {
        grid-column: 1;
        grid-row: 1;
    }

    .img-1 {
        grid-column: 2;
        grid-row: 1;
    }

    .img-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .img-3 {
        grid-column: 2;
        grid-row: 2;
    }

    .img-4 {
        grid-column: 1;
        grid-row: 3;
    }

    .img-5 {
        grid-column: 2;
        grid-row: 3;
    }

}
